
/*<meta name = "viewport" content="width=device-width, initial-scale=1.0">
*/


html{
    font-size:20px;
}
    
*{
    margin:0px;
    padding:0px;
    text-indent:0px;
}

main{
    padding-left:2%;
    padding-right:10%;
    padding-top:10%;
    padding-bottom: 5%;
}

p{
    padding-left:30px;
    padding-right:30px;
}
div.main_paragraf{
    background-color:rgba(128, 128, 128, 0.4);
    display:block;
    width:100%;
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}
div.text-introductiv{
    background-color:rgba(128, 128, 128, 0.4);
    display:block;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}
body{
    background-image: url("Main_icons_and_photos/fundal.png");
}
aside{
    padding-left:30px;
    font-style:italic;
}

/*1-----------------asezarea centrata pe paginile secundare a logoului---------------------------vvvvvv*/
figure.nike-logo-main{
        padding-top:100px;
        text-align: center;
}

figure.adidas-logo-main{
    padding-top:100px;
    text-align: center;
}

figure.underarmour-logo-main{
    padding-top:100px;
    text-align: center;
}

figure.reebok-logo-main{
    padding-top:100px;
    text-align: center;
}

figure.NBA-logo-main{
    padding-top:100px;
    text-align: center;
}

/*1-------------------------------------------------------------------------------------------------^^^^^^^^^^*/

/*2-------aici fac asezarea cate 2 pe linie a brandurilor----------vvvvvvvv*/

.grid_brand{
    display: grid;
    grid-template-columns: auto auto;
}
.grid_column_brand{
    text-align: left;
    padding-left: 20px;
}
/*2--------------------------------------------------------------^^^^^^^^^^^^^^*/

/*3-------------tabelul---------vvvvvvvvvvvvv*/
th,td{
        border:1px solid black;
        padding:5px;
}
td:empty{
    padding:20px;
}
table{
    border-collapse:collapse;
    empty-cells:show;
}
/*3-------^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/



/*4-------titlul----vvvvvvvvvv*/
h3{
    font-family: "Times New Roman", Times, serif;
    font-size:18px;
}
h4{
    padding-left:45px;
    font-size:30px;
}
h1{
    text-align: center;
    width:100%;
    height:15%;
    background-color:white;
}
h1 img{
    height:10vw;
}
/*4--------^^^^^^^^^^^^^^^^^^^*/



/*4.5--------------------img gallery------------vvvvvvvvvvv*/

div.gal {
    background-color: rgba(168, 168, 168, 0.5);
}
div.gal:hover {
    background-color: teal;
}
		  
div.gal img {
	width: 100%;
	height: auto;
}
		  
div.desc {
    padding: 15px;
	text-align: center;
}
		  
* {
    box-sizing: border-box;
}
		  
.gal-responsive {
	padding: 20px;
    float: left;
	width: 25%;
}
.clarificare:after {
	content: "";
	display: table;
	clear: both;
}
/*4.5-------------------------------------------------^^^^^^^^^^*/


/*5-------meniu-------vvvvvvvvvvvvvvvvvvvvvvv*/

nav{
	width:100%;
	position: sticky;
    z-index: 4;
    text-align: center;
}
ul.menu>li, ul.menu>li>ul.submenu>li{
    
    display:block;
    font-family: Ahelvetica-w01-light, helvetica-w02-light, sans-serif;
    font-size:1rem;
    font-weight:bold;
    height:1.3rem;
    line-height:1.3rem;
    text-align:center;		
    list-style-type:none;
    overflow:hidden;
}
ul.menu>li{
 float:left;
 width:25%;
 /*height:30px;*/
}
ul.submenu>li{
 width:100%;
 /*height:30px;*/
}
ul.menu>li>a,ul.menu>li>div,ul.submenu>li>a{
    display:block;
    height:	100%;
    text-decoration:none;
    color:black;
}
ul.menu>li a, ul.menu>li div{
    background:#3bd414;
    opacity:0.89;
    border:0.2px;
    border-color: black;
}

ul.menu>li>ul.submenu{
    position:relative;
    top:0px;
}

ul.menu>li>a:hover, ul.submenu>li>a:hover{
    background:/*rgb(180, 90, 202)*/teal;
    opacity:1.0;
    /*background:rgb(15, 241, 185);*/
}
ul.menu>li:hover{
    overflow:visible;
}
/*5------------------^^^^^^^^^^^^^^^^^^^^^^^^^6*/
/*6------------------up button------------vvvvvvvvvvvvvvvvvvvvvvv*/
#upbutton{
    position: fixed;
    bottom: 50px;
    right: 50px; 
    text-align: center;
}

/*6---------------------------------------^^^^^^^^^^^^^^^^^^^^^^^*/
/*7-------------------------------------------------------main page alignment------------------------------------------------------------------*/
.coloana{
    float: left;
    width: 30%;
    padding: 4%;
  }
  
.rand::after {
    content: "";
    clear: both;
    display: table;
  }

/*7-----------------------------------------------------------end----------------------------------------------------------------------*/

/*8--------------------------grid-footer still pe doua coloane-------vvvvvvvvvvvvvvvvvvvvv*/
.grid_footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap:10px;
}
.grid_item_footer{
    background-image: url("Main_icons_and_photos/fundal1.jpg");
    text-align: left;
    padding-left: 20px;
}
/*8--------------------------------end-------------------------------^^^^^^^^^^^^^^^^*/

/*9--------------------------------media queries-------------------vvvvvvvvvvvvvvvvv*/

@media screen and (min-width:700px)
{
    

    div#stanga{
        background-color: /*rgb(180, 90, 202)*/teal;
        width:20%;
        opacity: 0.7;
    }
    div#dreapta{
        width:75%;
        padding-left: 5%;
    }
    div.coloana{
        box-sizing:border-box;
        border-radius: 40px;
    }
    div#container{
        display:flex;
    }
    /*-------stil footer---vvvvvvvvvv*/
    footer{
            display:block;
            
            width:100%;
            padding-left:5%;
            padding-top:5%;
            background-image: url("Main_icons_and_photos/fundal1.jpg");
            padding-bottom: 5%;
      }
    /*--------------^^^^^^^^^^^^^^^^^^^^^^*/
    
}

@media screen and (max-width:700px )
{   
    div#dreapta{
        width:95%;
        padding-left: 5%;
    }
    .responsive {
        width: 100%;
    }
    h1 img{
        width:100%;
        height:100%
    }
    h1{
        text-align:center;
    }

    .grid_footer {
        grid-template-columns: auto;
    }

    .nbaicon img{
        width:100%;
        height:75%;
    }

    .grid_brand{
        grid-template-columns: auto;
    }

    footer{
        display:block;
        width:100%;
        padding-left:5%;
        padding-top:5%;
        background-image: url("Main_icons_and_photos/fundal1.jpg");
        padding-bottom: 5%;
  }
}
/*9------------------------------------------------------------^^^^^^^^^^^^^^^^^^^^^^^^*/