<footer id = "Contact" class = "grid_footer">
	<section class = "grid_item_footer">
		<h3>Site detinut de catre <i>Basketball-ist SRL</i></h3>



		<button onclick="myFunction()">Are you sad? Click here!</button>
		<script>
		function myFunction() {
		setTimeout(function(){ alert("Stop being sad!"); }, 3000);
		}
		</script>


		<br>
		<figure>
				<img alt="Mail" src="../../imagini/Main_icons_and_photos/Mail.png" width="70" height="70">
			<figcaption><b>Date de contact:<a href="mailto:ala_bala21@yahoo.com">ala_bala21@yahoo.com</a><br/><br></b></figcaption>
		</figure>
		
		<figure>
				<img alt="Address" src="../../imagini/Main_icons_and_photos/Address_pen.png" width="70" height="70">
			<figcaption><address><b>Strada Atomului, nr. 20, sector 3.</b></address><br></figcaption>
		</figure>

		<figure>
				<img alt="Phone" src="../../imagini/Main_icons_and_photos/Phone.png" width="70" height="70">
			<figcaption><b>Nr. de Telefon:0780085420</b></figcaption>
		</figure>
		<br><br>
		<a href = "index.ejs">
		<figure><img src = "../../imagini/Main_icons_and_photos/logo-proiect-footer.png" alt = "Logo proiect" width = "150" height="50"></figure></a>
		<br><br>
	
		<a href = "AJAX.ejs">
			<figure><img src = "../../imagini/Main_icons_and_photos/AJAXlogo.png" alt = "Logo AJAX" width = "150" height="50"></figure></a>
			<br><br>
	</section>
			
			<table class = "grid_item_footer">
				<caption>
				<b>Program-Relatii cu clientii</b>
				</caption>
				<thead>
					<tr>			
						<th>Ziua</th>
						<th>Orar</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Luni</td>
						<td>10:00-20:00</td>
					</tr>
					
					<tr>
						<td>Marti</td>
						<td>10:00-20:00</td>
					</tr>
					
					<tr>
						<td>Miercuri</td>
						<td>10:00-20:00</td>
					</tr>
					
					<tr>
						<td>Joi</td>
						<td>10:00-20:00</td>
					</tr>
					
					<tr>
						<td>Vineri</td>
						<td>10:00-20:00</td>
					</tr>
					
					<tr>
						<td>Sambata</td>
						<td>Inchis</td>
					</tr>
					
					<tr>
						<td>Duminica</td>
						<td>Inchis</td>
					</tr>
				
				</tbody>
			</table>
	</footer>