<header>
		
    <h1>
    <div class="logo"><img src = "/imagini/Main_icons_and_photos/logo-proiect.png" alt = "Baschetball-ist-logo"></div>
    <div class="formular">

     
     <a href="/inregistrare.ejs"><button class="button btn">Înregistrare</button></a>
     <% if(!locals.username) { %>
     <div class="form"><form method="post" action="/login">
     <label>
         Username: <input type="text" name="username" value="">
     </label></br>
     <label>
         Parola: <input type="password" name="parola" value="">
     </label>
     <input type="submit" value="OK">   
    </form>
    <% } else { %>
        Logat: <%= locals.username %>
		<a href="/logout"> Logout</a>
	<% } %>
    </div>
    </div>
    
    </h1>
    <nav >
        <ul class = "menu">
        <li><a class = "prime" href = "index.ejs">Main</a></li>
        <li><a href = "#Marci">Brands</a>
            <ul class = "submenu">
                <li><a href = "Nike.ejs">Nike</a></li>
                <li><a href = "Adidas.ejs">Adidas</a></li>
                <li><a href = "UA.ejs">Under Armour</a></li>
                <li><a href = "Reebok.ejs">Reebok</a></li>
            </ul>
        </li>
        <li><a href= "#partenership">Partnership</a>
            <ul class = "submenu">
                <li><a href = "NBA.ejs">NBA</a></li>
            </ul>
        </li>
        <li><a href="#Contact">Contact</a></li>
        </ul>
        </nav>
        <a href = "#"><figure id = "upbutton"><img src = "/imagini/Main_icons_and_photos/1384177-200.png" alt = "goes up" width = "50" height="50"><figcaption></figcaption></figure></a>

</header>