<!DOCTYPE html>
<html lang="en">
<head>
    <title> Baschetball-ist.ro </title>
	<meta charset="UTF-8">
	<meta name = "Author" content = "Narcis">
	<meta name = "description" content ="Magazin online de accesorii sportive de basket">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/imagini/Main_icons_and_photos/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Style.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS_pages/Media_queries.css"/>
    
</head>
<body>
    <header>
        <%- include("../fragmente/header")  %><!--aici adaug header-ul-->
    </header>
    <main>
    <div class = "error">
            <img alt="404" src="/imagini/Main_icons_and_photos/404.png" width="1000" height="750"></img>

    </div>
    </main>

</body>
<footer>
    <%- include("../fragmente/footer")  %><!--aici adaug footer-ul-->
</footer>
</body>
</html>