<!DOCTYPE html>
<html lang = "ro">
<head> 
	<title> Baschetball-ist.ro </title>
	<meta charset="UTF-8">
	<meta name = "Author" content = "Narcis">
	<meta name = "description" content ="Magazin online de accesorii sportive de basket">
	<meta name = "keywords" content = "Adidas,adidas,superstar,harden,bascheti,Baschetball-ist, baschetball-ist">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/imagini/Main_icons_and_photos/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Main_Secundaries.css"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Style.css"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Media_queries.css"/>

</head>
<body>
	<%- include("../fragmente/header")  %><!--aici adaug header-ul-->

<main>
    <div class = "big_box">
        <div class = "json_box">

        </div>

        <div class = "produse_box">

        </div>
    </div>
</main>

<%- include("../fragmente/footer")  %><!--aici adaug footer-ul-->
</body>
</html>
