<!DOCTYPE html>
<html lang = "en">
<head> 
	<title>  </title>
	<meta charset="UTF-8">
	<meta name = "Author" content = "Narcis">
	<meta name = "description" content ="Magazin online de accesorii sportive de basket">
	<meta name = "keywords" content = "Adidas,adidas,superstar,harden,bascheti,Baschetball-ist, baschetball-ist">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/imagini/Main_icons_and_photos/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Main_Secundaries.css"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Style.css"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Media_queries.css"/>
	<script src="js/ejs.min.js"></script>
	<script src="js/script.js"></script> 
</head>
<body class = "container">
	
    <%- include("../fragmente/Cerinte_Suplimentare_6")  %>
	<%- include("../fragmente/header")  %><!--aici adaug header-ul-->
<main>
	<h3>JSON</h3>
	<div class = "afis">
    <p id = "ajax_t1">Continut JSON</p>
		<div class="afis" id="afisJson">
			
		</div>
		
    <p id = "ajax_t2">Cu template:</p>
		<div class="afis" id="afisTemplate">
    </div></div>
    
</main>

<%- include("../fragmente/footer")  %><!--aici adaug footer-ul-->
</body>
</html>
