<!DOCTYPE html>
<html lang="en">
<head>
    <title> Baschetball-ist.ro </title>
	<meta charset="UTF-8">
	<meta name = "Author" content = "Narcis">
	<meta name = "description" content ="Magazin online de accesorii sportive de basket">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/imagini/Main_icons_and_photos/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Style.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS_pages/Media_queries.css"/>
    
</head>
<body>
    <header>
        <% include ../fragmente/header %><!--includ headerul-->
    </header>

    <main>
        <div class="inreg_title">
            <h2>Formular de înregistrare</h2>
            <p>Completați formularul pentu noul utilizator:</p>
        </div>
        <img src="/resurse/imagini/Main_icons_and_photos/add_user.png" alt="add user image">
    </main>

    <footer>
        <% include ../fragmente/footer %><!--includ footerul-->
    </footer>
</body>
</html>