<!DOCTYPE html>
<html lang="en">
<head>
    <title>  </title>
	<meta charset="UTF-8">
	<meta name = "Author" content = "Narcis">
	<meta name = "description" content ="Magazin online de accesorii sportive de basket">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="/imagini/Main_icons_and_photos/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/CSS_pages/Style.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS_pages/Media_queries.css"/>
    
</head>
<body>
    <header>
		<%- include("../fragmente/Cerinte_Suplimentare_6")  %>
        <%- include("../fragmente/header")  %><!--aici adaug header-ul-->
    </header>

    <main>
        <div class="inreg_title">
                <img src="/imagini/Main_icons_and_photos/add_user.png" alt="add user image">
            <h2>Formular de înregistrare</h2>
            
     </div>
     <p>Completați formularul pentu noul utilizator:</p></br>
     
		<form method="post" action="/inreg" class="date" enctype = "multipart/form-data">
			<p>
			<label>
				Username: <input type="text" name="username" value="">
			</label> 
			</p></br>
			<p>
			<label>
				Nume: <input type="text" name="nume" value="">
			</label>
			</p></br>
			<p>
			<label>
				Numar de Mingi de basket detinute:<input type="number" name="balls" value="">
			</label></br>
			</p></br>
			<p>
			<label>
				Parola: <input type="password" name="parola" value="">
			</label>
			</p></br>
			<p>
			<label>
				Email: <input type="text" name="email" value=""  size="50">
			</label>
			</p></br>
			<p class="button btn">		
			<input type="submit" value="Submit">
			</p>
		</form>
    </main>

    <footer>
        <%- include("../fragmente/footer")  %><!--aici adaug footer-ul-->
    </footer>
</body>
</html>